extends layout


block content
  if item
    h2.title= `${item.title} - ${item.price}€`
    +createImage(`${item.image}`)
    .soldBy Identifiant de vendeur #{item.soldBy.toUpperCase()}
  else 
    h2.title= "Aucun objet à afficher!"
