doctype html

mixin createImage(imgSrc)
  .cover
    img(src=imgSrc)

html
  head
    block headblock
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
  nav#navbar  
      ul
        li
          a(href="/")= "Accueil"
        li
          a(href="/user")= "Gestion du compte"
        li
          a(href="/items")= "Parcourir les annonces"
        li
          a(href="/items/create")= "Créer une annonce"

  body
    block content
