doctype html

mixin createImage(imgSrc)
  .cover
    img(src=imgSrc)

html
  head
    block headblock
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
  block nav
    nav
    - var active = "index.html"
      ul
        li(class=(title === "Vendez les vôtres" ? "active" : undefined))
          a(href="/")= "Accueil"
        li(class=(title === "Gestion du compte" ? "active" : undefined))
          a(href="/user")= "Gestion du compte"
        li(class=(title === "Liste d'objets en vente" ? "active" : undefined))
          a(href="/items")= "Parcourir les annonces"
        li(class=(title === "Création d'une annonce" ? "active" : undefined))
          a(href="/items/create")= "Créer une annonce"

  body
    block content
